
.square {
  width: 100px;
  height: 100px;
  background-color: #C4C4C4 0.7;
  border-radius: 10%;
  /* border: 1px solid black; */
}

.bg-color{
  background-image: linear-gradient(to bottom , #4e10c2, #2A0C62);
}

.text-color-purple{
  color: #2A0C62;
}

.border-purple{
  border: 0.5px solid #2A0C62;
}

.bg-purple{
  background-color: #2A0C62;
}

.margin-form{
  margin-left: 25%;
  margin-right: 25%;
}

.tam-diference{
  height: 300px;
}

.carousel-legend{
  right: 0% !important;
  left: 0% !important;
  background-color: #2A0C62;
  opacity: 0.8;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

nav a {
  color: #fff;
  opacity: 0.7;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 0 20px;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
  letter-spacing: 1px;
}

nav a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

nav a:hover:before {
  width: 100%;
}

a:hover{
  color: #fff !important;
  opacity: 1;
}